<nav>
    <ul>
        <li><a href="/" title="Go to the home page">Home</a></li>
        <li><a href="/" title="View custom vehicles">Custom</a></li>
        <li><a href="/" title="View sedans">Sedans</a></li>
        <li><a href="/" title="View SUVs">SUVs</a></li>
        <li><a href="/" title="View trucks">Trucks</a></li>
    </ul>
</nav>