
<h1>Welcome to CSE Motors!</h1>
<div id="hero">
    <img src="../public/images/vehicles/delorean.jpg" alt="delorean">
    <span id="callToAction">
        <p>DMC Delorean</p>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <span id="button">
            <a href="">Own Today</a>
        </span>
    </span>
</div>