
<h1>Welcome to CSE Motors!</h1>
<div id="hero">
    <img src="/images/vehicles/delorean.jpg" alt="delorean">
    <span id="call-to-action">
        <p>DMC Delorean</p>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <a href=""><img src="/images/site/own_today.png"></a>
    </span>
</div>
<main>
    <div class="content">
        <div id="col2">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>
        <div id="col1">
            <h2>Delorean Upgrades</h2>
            <div id="upgrade-container">
                <div class="row">
                    <div class="blue-container">
                        <a href="" class="blue-square">
                            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                        </a>
                        <figcaption>Flux Capacitator</figcaption>
                    </div>
                    <div class="blue-container">
                        <a href="" class="blue-square">
                            <img src="/images/upgrades/flame.jpg" alt="Flame">
                        </a>
                        <figcaption>Flame Decals</figcaption>
                    </div>
                </div>
                <div class="row">
                    <div class="blue-container">
                        <a href="" class="blue-square">
                            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                        </a>
                        <figcaption>Bumper Stickers</figcaption>
                    </div>
                    <div class="blue-container">
                        <a href="" class="blue-square">
                            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">
                        </a>
                        <figcaption>Hub Caps</figcaption>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>